db.sqlite3
local_settings.py
__pycache__/
*.ini
*.sh
*.pyc
__pycache__/
env/
.idea/
.env
node_modules/
error.log
debug.log
xtatic/
errors.log
htmlcov/
uploads/
media/
*.pdf
*.aux
*.lof
doc/**/*.log
*.lot
*.synctex.gz
*.toc
media/
staticfiles/
