{% extends "base.html" %}

{% block container %}
<div class="jumbotron page-header">
  <h1>Espaço da Luta</h1>
  <p>Kickboxing, se refere para ambos um grupo de artes marciais e esportes de combate em pé baseados em chutes e socos, mas também para um estilo de arte marcial e desporto de combate. O kickboxing ou full contact é frequentemente praticado como defesa pessoal, condicionamento físico geral ou como um esporte de contato.</p>
  <p><a class="btn btn-primary">Saiba mais</a></p>
</div>
{% endblock %}
